<li class="item-todo-problem">
  <article [class.accepted]="problem.status === accepted" class="todo-problem">
    <section class="todo-problem__info">
      <header class="todo-problem__header">
        <h3 class="todo-problem__name">{{ problem.name }}</h3>
        <a href="{{ problem.url }}" target="_blank">
          {{ problem.id }}
        </a>
      </header>
      <section class="todo-problem__details">
        <p>Difficulty: {{ problem.difficulty }}</p>
        <div class="tags-problem">
          @for (tag of problem.tags; track $index) {
          <span> {{ tag }}, </span>
          }
        </div>
      </section>
    </section>
    <div class="todo-problem__actions">
      <button class="btn" (click)="handleAction()">
        {{ problem.status === accepted ? "Pending" : "Accepted" }}
      </button>
      <button class="btn" (click)="handleRemove()">Remove</button>
    </div>
  </article>
</li>
