.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-right: 1rem;
  gap: 1rem;
  align-items: center;

  background-color: #ccc;
}

.navbar__list {
  width: 100%;
  list-style: none;
  padding: 0.5rem;
  gap: 0.3rem;
  display: flex;
  align-items: center;
}

.navbar__list-item {
  padding: 0.3rem;
  padding-bottom: calc(0.3rem - 3px);
  cursor: pointer;
  border-bottom: 3px solid transparent;
}

.navbar__list-item-link {
  text-decoration: none;
  color: #000;
  font-size: 0.9rem;
}

.active {
  border-bottom: 3px solid #3b5998;
}

.navbar__button {
  border: none;
  min-width: 50px;
  padding: 0.2rem;
  cursor: pointer;
  transition: all 0.2s ease;
  background-color: transparent;
  color: #3760b8;
}
