<nav class="navbar">
  <ul class="navbar__list">
    <li
      class="navbar__list-item"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      <a class="navbar__list-item-link" routerLink="/">ProblemSet</a>
    </li>
    <li
      class="navbar__list-item"
      routerLinkActive="active"
      *ngIf="authService.isLogged()"
    >
      <a class="navbar__list-item-link" routerLink="/my-problems">MyProblems</a>
    </li>
  </ul>
  <section>
    <button (click)="handleAuth()">
      {{ authService.user ? "Logout" : "Login" }}
    </button>
  </section>
</nav>
