<section class="user-card">
  @if(logged) {
  <div class="user-image-container" (click)="toggleVisibleUserInfo()">
    <img
      class="user-image"
      [src]="authService.user?.photoURL"
      alt="user image"
    />
  </div>
  } @if(visibleButtonAuth()) {
  <section
    appClickOutSide
    (clickOutSideAction)="closeUserInfo()"
    class="navbar__user-info"
    id="popup-info"
  >
    @if(logged) {
    <p class="user-name">
      {{ authService.user?.displayName }}
    </p>
    }
    <button (click)="handleAuth()" class="navbar__button-auth">
      {{ authService.user ? "Logout" : "Login with google" }}
    </button>
  </section>
  }
</section>
