<!-- <header class="header-container">
  <h1 class="app-title">{{ title }}</h1>
</header> -->

<main class="main-container">
  <app-filter-codeforces
    (emitter)="setProblems($event)"
  ></app-filter-codeforces>

  <section class="problems-container">
    <ng-template
      [ngIf]="
        problemSetService.renderProblems() &&
        problemSetService.renderProblems()?.length
      "
    >
      <ul class="problem-list">
        <app-problem
          *ngFor="let problem of problemSetService.renderProblems()"
          [contestId]="problem.contestId + ''"
          [id]="problem.index"
          [name]="problem.name"
          [tags]="problem.tags"
          [difficulty]="problem.rating ?? -1"
        ></app-problem>
      </ul>
    </ng-template>
    <div
      *ngIf="!problemSetService.renderProblems()"
      class="problems-container__loading"
    >
      <app-loading></app-loading>
      <p>"{{ loadingMessage }}"</p>
    </div>
    <div
      *ngIf="
        problemSetService.renderProblems() &&
        problemSetService.renderProblems()?.length === 0
      "
      class="problems-container__no-problems"
    >
      No problems found
    </div>

    <section
      *ngIf="
        problemSetService.renderProblems() &&
        problemSetService.renderProblems()?.length &&
        problemSetService.countPages() > 1
      "
      class="pagination-container"
    >
      <button
        class="pagination-container__button"
        (click)="prevPage()"
        [disabled]="problemSetService.page() === 1"
      >
        Previous
      </button>
      <button
        class="pagination-container__button"
        *ngIf="
          problemSetService.renderProblems() &&
          problemSetService.renderProblems()?.length
        "
        (click)="nextPage()"
        [disabled]="problemSetService.page() === problemSetService.countPages()"
      >
        Next
      </button>

      <p class="pagination-container__page">
        Page {{ problemSetService.page() }} of
        {{ problemSetService.countPages() }}
      </p>
    </section>
  </section>
</main>
