<main class="main-container">
  <section class="main-container__search">
    <app-search-problem (emitter)="setProblems($event)"></app-search-problem>

    <app-filter-codeforces
      (emitter)="setProblems($event)"
    ></app-filter-codeforces>
  </section>

  <section class="problems-container">
    @if( problemSetService.renderProblems() &&
    problemSetService.renderProblems()?.length) {
    <ul class="problem-list">
      @for(problem of problemSetService.renderProblems(); track $index) {
      <app-problem
        [contestId]="problem.contestId + ''"
        [id]="problem.index"
        [name]="problem.name"
        [tags]="problem.tags"
        [difficulty]="problem.rating ?? -1"
      ></app-problem>
      }
    </ul>
    } @if(!problemSetService.renderProblems()) {
    <div class="problems-container__loading">
      <app-loading></app-loading>
      <p>"{{ loadingMessage }}"</p>
    </div>
    } @if(problemSetService.renderProblems() &&
    problemSetService.renderProblems()?.length === 0) {
    <div class="problems-container__no-problems">
      <span
        [ngStyle]="{
        'fontWeight': 'bold',
      }"
        >No problems found</span
      >

      @if(this.problemSetService.error()) {
      <p
        [ngStyle]="{
          display: 'flex',
          'flex-direction': 'column',
          'align-items': 'center',
          'justify-content': 'center',
          gap: '1rem'
        }"
      >
        <span>{{ this.problemSetService.error() }}</span>

        <span> Please try again later </span>
      </p>
      }
    </div>
    } @if(problemSetService.renderProblems() &&
    problemSetService.renderProblems()?.length && problemSetService.countPages()
    > 1) {
    <section class="pagination-container">
      <button
        class="pagination-container__button"
        (click)="prevPage()"
        [disabled]="problemSetService.page() === 1"
      >
        Previous
      </button>
      @if(problemSetService.renderProblems() &&
      problemSetService.renderProblems()?.length) {
      <button
        class="pagination-container__button"
        (click)="nextPage()"
        [disabled]="problemSetService.page() === problemSetService.countPages()"
      >
        Next
      </button>
      }

      <p class="pagination-container__page">
        Page {{ problemSetService.page() }} of
        {{ problemSetService.countPages() }}
      </p>
    </section>
    }
  </section>
</main>
