<header class="header-container">
  <h1>{{ title }}</h1>
</header>

<ul>
  <li *ngFor="let problem of todoProblem$ | async">
    <article>
      <section>
        <a href="{{ problem.url }}" target="_blank">
          {{ problem.id }}
        </a>
        <p>{{ problem.name }}</p>
        <section>
          <p>Difficulty: {{ problem.difficulty }}</p>
          <div class="tags-problem">
            <span *ngFor="let tag of problem.tags"> {{ tag }}, </span>
          </div>
        </section>
      </section>
      <div>
        <button>Accepted</button>
        <button>Remove</button>
      </div>
    </article>
  </li>
</ul>
