<main class="my-problems">
  <section class="my-problems__container">
    @if(emptyProblems) {
    <div class="my-problems__container__empty-problems">
      <p class="emoji">🤧</p>
      <p class="message">
        "You have no problems in your todo list. Add some problems to your todo
        list. 🙂"
      </p>
    </div>
    } @for(date of todoProblem$ | async | keysOfObject | sortProblemsDate; track
    $index) {
    <app-problem-list-date [date]="date"></app-problem-list-date>
    }
  </section>
</main>
