<nav class="navbar">
  <ul class="navbar__list">
    <li
      class="navbar__list-item"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      <a class="navbar__list-item-link" routerLink="/problem-set">ProblemSet</a>
    </li>

    @if(isLogged) {
    <li
      class="navbar__list-item"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      <a class="navbar__list-item-link" routerLink="/secure/my-problems">MyProblems</a>
    </li>
    }
  </ul>
  <app-user-card></app-user-card>
</nav>
