.form-container {
  margin: auto;
  width: 100%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  gap: 1rem;

  border: 2px solid #ccc;
  border-radius: 1rem;
}

.form-title {
  width: 100%;
  padding: 0.3rem 0.5rem;
  border-bottom: 2px solid #ccc;
}

.filter-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0.5rem;
}

.difficulty,
.tags {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 0.5rem;
}

.tags > select {
  width: 100%;
}

.list-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 0.3rem;
}

.btn-form {
  width: 100%;
  padding: 0.5rem;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
}

.btn-form:hover {
  background-color: #ccc;
}

.btn-form:active {
  transform: scale(0.95);
}

.difficulty {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 0.5rem;
}

.max-min-difficulty {
  width: 100%;
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.minDifficulty,
.maxDifficulty {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
}

.minDifficulty > input,
.maxDifficulty > input {
  padding: 0.3rem;
  outline: none;
  margin-bottom: 0.3rem;
}

.error-difficulty > input {
  border-color: red;
}

.error-difficulty-message {
  position: absolute;
  top: 100%;
  color: red;
  font-size: 0.8rem;
}
