<div class="app">
  <header class="header-container">
    <h1 class="app-title">{{ title }}</h1>
  </header>

  <main class="main-container">
    <app-filter-codeforces
      (emitter)="setProblems($event)"
    ></app-filter-codeforces>

    <section class="problems-container">
      <ng-template [ngIf]="problems && problems.length > 0">
        <table class="table-problems">
          <thead>
            <tr>
              <th>#</th>
              <th class="name-problem-title">Name</th>
              <th>Difficulty</th>
            </tr>
          </thead>

          <tbody>
            <app-problem
              *ngFor="let problem of problems"
              [contestId]="problem.contestId + ''"
              [id]="problem.index"
              [name]="problem.name"
              [tags]="problem.tags"
              [difficulty]="problem.rating ?? -1"
            ></app-problem>
            <!-- </tr> -->
          </tbody>
        </table>
      </ng-template>
      <div *ngIf="!problems" class="problems-container__loading">
        <app-loading></app-loading>
        <p>Searching for problems...</p>
      </div>
      <div
        *ngIf="problems && problems.length === 0"
        class="problems-container__no-problems"
      >
        No problems found
      </div>
    </section>
  </main>
</div>
