.app {
  width: 100%;

  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.header-container {
  width: 100%;
  text-align: center;
  padding: 1rem;
}

.main-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 1rem;
}

.form-container {
  margin: auto;
  width: 100%;
  max-width: 450px;
  display: flex;
  flex-direction: column;
  gap: 1rem;

  border: 2px solid #ccc;
  border-radius: 1rem;
}

.form-title {
  width: 100%;
  padding: 0.3rem 0.5rem;
  border-bottom: 2px solid #ccc;
}

.filter-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0.5rem;
}

.difficulty,
.tags {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 0.5rem;
}

.tags > select {
  width: 100%;
}

.list-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 0.3rem;
}

.btn-form {
  width: 100%;
  padding: 0.5rem;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
}

.btn-form:hover {
  background-color: #ccc;
}

.btn-form:active {
  transform: scale(0.95);
}

.problems-container {
  width: 100%;
  min-width: 250px;
}

.table-problems {
  width: 100%;
  border-collapse: collapse;
}

.name-problem {
  width: 100%;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 0.3rem;

  border-right: 1px solid #ccc;
  border-left: 1px solid #ccc;
}

.name-problem-title {
  border-right: 1px solid #ccc;
  border-left: 1px solid #ccc;
}

.id-problem,
.difficulty-problem {
  text-align: center;
}

tr {
  width: 100%;
  border: 1px solid #ccc;
  display: grid;
  grid-template-columns: 25% 45% 1fr;
}

td,
th {
  padding: 0.5rem;
}

.tags-problem {
  display: flex;
  flex-wrap: wrap;
  gap: 0.3rem;
}

.tags-problem > span {
  font-size: 0.8rem;
  color: #888;
}

.name-proble__content {
  font-weight: bold;
}

.difficulty {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 0.5rem;
}

.max-min-difficulty {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.minDifficulty,
.maxDifficulty {
  position: relative;
  display: flex;
  flex-direction: column;
  padding-inline: 1rem;
}

.minDifficulty > input,
.maxDifficulty > input {
  padding: 0.3rem;
  outline: none;
  margin-bottom: 0.3rem;
}

.error-difficulty > input {
  border-color: red;
}

.error-difficulty-message {
  position: absolute;
  top: 100%;
  color: red;
  font-size: 0.8rem;
}

@media screen and (min-width: 780px) {
  .main-container {
    align-items: flex-start;
    flex-direction: row;
  }

  tr {
    grid-template-columns: 100px 1fr 100px;
  }

  .form-container {
    margin: 0;
    width: 100%;
  }
}
