<div class="app">
  <header class="header-container">
    <h1 class="app-title">{{ title }}</h1>
  </header>

  <app-navbar></app-navbar>

  <main class="main-container">
    <app-filter-codeforces
      (emitter)="setProblems($event)"
    ></app-filter-codeforces>

    <section class="problems-container">
      <ng-template [ngIf]="renderProblems() && renderProblems()?.length">
        <table class="table-problems">
          <thead>
            <tr>
              <th>#</th>
              <th class="name-problem-title">Name</th>
              <th>Difficulty</th>
            </tr>
          </thead>

          <tbody>
            <app-problem
              *ngFor="let problem of renderProblems()"
              [contestId]="problem.contestId + ''"
              [id]="problem.index"
              [name]="problem.name"
              [tags]="problem.tags"
              [difficulty]="problem.rating ?? -1"
            ></app-problem>
          </tbody>
        </table>
      </ng-template>
      <div *ngIf="!renderProblems()" class="problems-container__loading">
        <app-loading></app-loading>
        <p>Searching for problems...</p>
      </div>
      <div
        *ngIf="renderProblems() && renderProblems()?.length === 0"
        class="problems-container__no-problems"
      >
        No problems found
      </div>

      <section
        *ngIf="renderProblems() && renderProblems()?.length && countPages() > 1"
        class="pagination-container"
      >
        <button
          class="pagination-container__button"
          (click)="prevPage()"
          [disabled]="page() === 1"
        >
          Previous
        </button>
        <button
          class="pagination-container__button"
          *ngIf="renderProblems() && renderProblems()?.length"
          (click)="nextPage()"
          [disabled]="page() === countPages()"
        >
          Next
        </button>

        <p class="pagination-container__page">
          Page {{ page() }} of {{ countPages() }}
        </p>
      </section>
    </section>
  </main>
</div>
