<div class="app">
  <header class="header-container">
    <h1 class="app-title">{{ title }}</h1>
  </header>

  <main class="main-container">
    <app-filter-codeforces
      (emitter)="setProblems($event)"
    ></app-filter-codeforces>

    <section class="problems-container">
      <ng-template [ngIf]="problems && problems.length > 0">
        <table class="table-problems">
          <thead>
            <tr>
              <th>#</th>
              <th class="name-problem-title">Name</th>
              <th>Difficulty</th>
            </tr>
          </thead>

          <tbody>
            <tr *ngFor="let problem of problems">
              <td class="id-problem">
                <a
                  target="_blank"
                  href="https://codeforces.com/problemset/problem/{{
                    problem.contestId
                  }}/{{ problem.index }}"
                  >{{ problem.contestId + problem.index }}</a
                >
              </td>
              <td class="name-problem">
                <div class="name-proble__content">{{ problem.name }}</div>
                <div class="tags-problem">
                  <span *ngFor="let tag of problem.tags"> {{ tag }}, </span>
                </div>
              </td>
              <td
                class="difficulty-problem"
                *ngIf="problem.rating && problem.rating > -1"
              >
                {{ problem.rating }}
              </td>
            </tr>
          </tbody>
        </table>
      </ng-template>
      <div *ngIf="!problems" class="problems-container__loading">
        Loading....
      </div>
      <div *ngIf="problems && problems.length === 0">No problems found</div>
    </section>
  </main>
</div>
