<li class="problem-item">
  <article class="problem" [ngClass]="isAccepted() ? 'problem-accepted' : ''">
    <header class="problem-header">
      <div class="problem-id-container">
        <a
          href="{{ link + '/' + contestId + '/' + id }}"
          target="_blank"
          class="problem-link"
          >{{ contestId + id }}</a
        >
      </div>
      <div class="problem-name-container">
        <h3 class="problem-name">{{ name }}</h3>
      </div>
      <div class="problem-add" *ngIf="!isAccepted() && authService.isLogged()">
        <button
          [ngClass]="{ 'btn-remove': isAdded(), 'btn-add': !isAdded() }"
          class="btn-action"
          (click)="handleAction()"
        >
          {{ isAdded() ? "Quitar" : "Añadir" }}
        </button>
      </div>
    </header>
    <section class="problem-content">
      <p class="problem-difficulty">Difficulty: {{ difficulty }}</p>
      <div class="tags-problem">
        <span *ngFor="let tag of tags"> {{ tag }}, </span>
      </div>
    </section>
  </article>
</li>
